* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;    
}

.texto {
    font-size: 1.2em;
    margin: 10px;
}

h2 {
    text-align: center;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vb{
    text-align: center;
}

nav a{
	display: inline-block;
	text-decoration: none;
	color: #696969;
	margin: 0.8em;
	padding: 5px 15px;
	border-radius: 30px;

}

nav a:hover {
	background-color: #fcfcfc;
	color: #0a5ad3;
    background-color: #14042e;
    color: #ffffff;
}
/* Estilos para el encabezado */
.vb {
    background-color: #14042e;
    color: #ffffff;
    padding: 2px;
    text-align: center;
}

/* Estilos para los enlaces de navegación */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}

/* Estilos para las secciones de contenido */
.content_sau {
    margin: 10px;
    padding: 1em;
    text-align: justify;
}

.content_sau , img {
    margin: 10px 0 10px;
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}